
<div class="row">
    <div class="col-md-4 mb-4" *ngFor=" let data of getPost">
        <div class="card h-100">
            <div class="card-header">
                <h4>{{data.title}}</h4>
            </div>
            <div class="card-body">
                <p>
                   {{ data.body}}
                </p>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-block btn-info">Read More</button>
            </div>
        </div>
    </div>
</div>
